<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid col-md-12">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #343a40;padding: 15px;margin: 0;width: 100%;"
    >
        <!-- Section: Links  -->
        <section class="">
            <div class="container-fluid text-center text-md-start ">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Company </h6>
                        <hr
                                class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: mediumseagreen; height: 2px"
                        />
                        <p>
                           GictSystems
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold"> Skills </h6>
                        <hr
                                class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: mediumseagreen; height: 2px"
                        />
                        <p>
                            <a href="#!" class="text-white"> Programming(Python, Node JS) </a>
                        </p>
                        <p>
                            <a href="#!" class="text-white"> Networking </a>
                        </p>
                        <p>
                            <a href="#!" class="text-white"> Bash Scripting </a>
                        </p>
                        <p>
                            <a href="#!" class="text-white"> Information security </a>
                        </p>
                         <p>
                            <a href="#!" class="text-white"> Django </a>
                        </p>
                    </div>
                    <!-- Grid column -->


                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr
                                class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: mediumseagreen; height: 2px"
                        />
                        <p><i class="fas fa-envelope mr-3"></i> martinkamauk2@gmail.com </p>
                        <p><i class="fas fa-phone mr-3"></i> +254727726279 </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div>
            © 2022 Copyright

        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->